/*Icon sprite styles*/

@import './icon-sprite-style.css';
@import './alertify.css';

/*Generic*/

body {
  width: 356px;
}


/*Lists*/

.scroll-container {
  height: 256px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0; // border: 1px solid #e4e9ec;
  border-radius: 2px;
}

.emoji-list {
  .icon {
    text-align: center;
    cursor: pointer;
    display: none;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 4px;
    overflow: hidden;
    transition: transform .1s ease-out;
    will-change: transform;
    &:hover {
      transform: scale(1.25);
    }
  }
}

.categories-list {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    text-transform: capitalize;
    cursor: pointer;
    width: 21.5%;
    margin: 0.25%;
  }
}


/*utilties*/

.title {
  opacity: 0.5;
  display: block;
  margin: 10px 0;
  font-weight: bold;
}


/*Controls*/

.button {
  background-color: #edeeee;
  color: #4e2129;
  display: inline-block;
  overflow: hidden;
  margin: 2px;
  padding: 5px;
  cursor: pointer;
  user-select: none;
  transition: all 60ms ease-in-out;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;
  border: 0 none;
  border-radius: 5px;
  font-weight: 500;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  justify-content: center;
  align-items: center;
  transition: opacity 500ms ease-out;
  &:hover {
    opacity: .85;
  }
  &:active {
    opacity: .75;
  }
  &:focus {
    outline: 1px dotted #959595;
    outline-offset: -4px;
  }
  &.active {
    opacity: .5;
  }
}

.input-control {
  margin: 10px 0;
  padding: 7px 5px;
  width: calc(100% - 15px);
  border: 1px solid #e4e9ec;
  outline: none;
  border-radius: 5px;
}


/*scrollbar*/

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 5px;
}
