<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Emoji</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link rel="stylesheet" type="text/css" href="../styles/popup.css">
  </head>

  <body>

    <div id="emoji-app">
      <ul class="categories-list">
        <li v-for="category in categories" class="button" :class="{'active': category === activeCategory}" v-on:click="activeCategory = category">{{category}}</li>
      </ul>
      <hr/>
      <ul class="emoji-list">
        <li v-for="emoji in emojis" v-html="'&#x' + emoji.code_points.base"></li>
      </ul>
    </div>

    <script src="../scripts/popup.js" defer async></script>
  </body>

</html>
