<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Emoji</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link rel="stylesheet" type="text/css" href="../styles/popup.css">
  </head>

  <body>

    <div id="emoji-app">
      <ul class="categories-list">
        <li v-for="category in categories" class="button" :class="{'active': category === activeCategory}" v-on:click="activeCategory = category">{{category}}</li>
      </ul>
      <input type="text" class="input-control" v-model="search" placeholder="Search" />
      <span class="title">Recent</span>
      <div class="emoji-list">
        <span v-for="emoji in emojisRecent()" v-html="'&#x' + emoji.code_points.base"></span>
      </div>
      <span class="title">{{activeCategory}}</span>
      <div class="scroll-container">
        <div class="emoji-list">
          <span v-for="emoji in emojis" v-show="containSearch(emoji)" v-html="'&#x' + emoji.code_points.base"></span>
        </div>
      </div>

    </div>

    <script src="../scripts/popup.js" defer async></script>
  </body>

</html>
