<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Emoji</title>
    <link rel="stylesheet" type="text/css" href="../styles/popup.css">
    <script src="../scripts/popup.js" defer></script>
  </head>

  <body>
    <div id="emoji-app">
      <ul class="categories-list">
        <li v-for="category in categories" class="button" :class="{'active': category === activeCategory}" v-on:click="activeCategory = category">{{category}}</li>
      </ul>
      <input type="text" class="input-control" v-model="emojiSearch" placeholder="Search" />
      <div v-show="activeCategory==='People' && false">
        <span class="title">Skin Tones</span>
        <div class="emoji-list">
          <div class="icon emojiIcon" :class="showemoji (emoji)" v-for="emoji in getSkinTones()"></div>
        </div>
      </div>
      <div v-show="emojiRecent.length">
        <span class="title">Recent</span>
        <div class="emoji-list">
          <div class="icon emojiIcon" :class="showemoji (emoji)" v-for="emoji in emojiRecent" v-on:click="selectEmoji (emoji, true)"></div>
        </div>
      </div>
      <div v-show="emojiData.length">
        <span class="title">{{activeCategory}}</span>
        <div class="scroll-container">
          <div class="emoji-list">
            <div class="icon emojiIcon" :class="showemoji (emoji)" v-for="emoji in emojis" v-on:click="selectEmoji (emoji)" v-if="containSearch (emoji)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
